.fineItem {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  border-left: 4px solid #f44336;
}

.fineAmount {
  color: #d32f2f;
  font-weight: bold;
}
