.loginPage {
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.authForm {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  color: #09122c;
  margin-bottom: 5px;
}

.subtitle {
  margin: 5px 0 10px;
  font-size: 20px;
  color: #be3144;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #be3144;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #872341;
}

.switch {
  font-size: 14px;
  margin-top: 10px;
  color: #09122c;
}

.switch a {
  color: #be3144;
  text-decoration: none;
  font-weight: bold;
}
